<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\lujian01\AppData\Local\Temp\libhello.dll13230606366046429108" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>